<h1>Reports</h1>

<table>
  <tr>
    <th>Caller</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @caller.identity_name %></td>
    <td><%= link_to("Answered", call_details_client_caller_path(@caller)) %></td>
    <td><%= link_to("Usage", usage_client_caller_path(@caller)) %></td>
  </tr>
</table>
