
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" ng-click="lead_info.meta.collapse = !lead_info.meta.collapse">
      Lead info
      <b class="caret"></b>
    </a>
  </li>
</ul>
<div class="navbar-inner">
  <div collapse="lead_info.meta.collapse" id="lead-info" class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!-- custom fields -->
      <dl class="dl-horizontal">
        <dt class="label label-default">VANID</dt>
        <dd>abcdefghi123</dd>
        <dt class="label label-default">Category</dt>
        <dd>Small Business Owner</dd>
        <dt class="label label-default">Channel</dt>
        <dd>Google</dd>
        <dt class="label label-default">Long random info</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</dd>
        <dt class="label label-default">Married / Single</dt>
        <dd>Single</dd>
        <dt class="label label-default">Education</dt>
        <dd>Some college</dd>
        <dt class="label label-default">Party affiliation</dt>
        <dd>Republican</dd>
        <dt class="label label-default">Age</dt>
        <dd>42</dd>
        <dt class="label label-default">Gender</dt>
        <dd>Male</dd>
      </dl>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!-- system fields -->
      <dl class="dl-horizontal">
        <dt class="label label-default">First name</dt>
        <dd>John</dd>
        <dt class="label label-default">Middle name</dt>
        <dd>Lee</dd>
        <dt class="label label-default">Last name</dt>
        <dd>Doe</dd>
        <dt class="label label-default">Address</dt>
        <dd>4 Baker St</dd>
        <dt class="label label-default">Phone</dt>
        <dd>1234567890</dd>
        <dt class="label label-default">State</dt>
        <dd>Utah</dd>
        <dt class="label label-default">Country</dt>
        <dd>USA</dd>
      </dl>
    </div>
  </div>
</div>