<nav class="navbar navbar-default navbar-fixed-top lead-info" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#lead-info">
        <span class="sr-only">Toggle lead info</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#lead-info">
        Lead information
      </a>

      <div class="collapse navbar-collapse" id="lead-info">
        <ul class="list-group">
          <li class="list-group-item">
            First name
            <b>John</b>
          </li>
          <li class="list-group-item">
            Middle name
            <b>Lee</b>
          </li>
          <li class="list-group-item">
            Last name
            <b>Doe</b>
          </li>
          <li class="list-group-item">
            Address
            <b>4 Baker St</b>
          </li>
          <li class="list-group-item">
            Phone
            <b>1234567890</b>
          </li>
          <li class="list-group-item">
            State
            <b>Utah</b>
          </li>
          <li class="list-group-item">
            Country
            <b>USA</b>
          </li>
          <li class="list-group-item">
            VANID
            <b>abcdefghi123</b>
          </li>
          <li class="list-group-item">
            Category
            <b>Small Business Owner</b>
            </li>
          <li class="list-group-item">
            Channel
            <b>Google</b>
          </li>
          <li class="list-group-item">
            Married / Single
            <b>Single</b>
          </li>
          <li class="list-group-item">
            Education
            <b>Some college</b>
            </li>
          <li class="list-group-item">
            Party affiliation
            <b>Republican</b>
          </li>
          <li class="list-group-item">
            Age
            <b>42</b>
          </li>
          <li class="list-group-item">
            Gender
            <b>Male</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="well">
  <p>Caller script. Read me to voters...</p>
</div>

<form role="form">
  <div class="well form-group">
    <label for="question_1">How old are you?</label>
    <select id="question_1" class="form-control">
      <option value="Older than dirt">Older than dirt</option>
    </select>
  </div>

  <div class="well form-group">
    <label for="question_2">What is your favorite color?</label>
    <select id="question_2" class="form-control">
      <option value="Older than dirt">Yellow... no wait, blue!</option>
    </select>
  </div>

  <div class="well form-group">
    <label for="question_3">What is the average speed of a English sparrow?</label>
    <select id="question_3" class="form-control">
      <option value="Older than dirt">How the blazes am I supposed to know that?!</option>
    </select>
  </div>

  <div class="well form-group">
    <label for="question_4">What do you think about blah?</label>
    <textarea id="question_4" class="form-control">
    </textarea>
  </div>

  <div class="well form-group">
    <label for="question_5">How many apples would you like?</label>
    <input id="question_5" class="form-control">
  </div>

  <div class="well form-group">
    <label for="question_6">Can we contact you again?</label>
    <input type="checkbox" id="question_6" class="form-control">
  </div>
</form>

<footer class="navbar navbar-default">
  <p class="nav navbar-text navbar-left">
    &copy; 2014
  </p>
  <ul class="nav navbar-nav">
    <li>
      <a href="#">Privacy</a>
    </li>
    <li>
      <a href="#">Terms</a>
    </li>
  </ul>
</footer>

<nav class="navbar navbar-default navbar-fixed-bottom caller-buttons">
  <div class="container-fluid">
    <button type="button" class="btn btn-primary navbar-btn navbar-left" role="button" href="#">
      Start calling
    </button>
    <button type="button" class="btn btn-primary navbar-btn navbar-right" role="button" href="#">
      Log out
    </button>
  </div>
</nav>
