<fieldset>
  <legend>Note</legend>
  <nested_type type = 'notes'></nested_type>
  <%= f.text_field :note %>
  <p class = "actions">
    <%= link_to_remove_fields "Delete this note", f  %>
  </p>
</fieldset>
