<fieldset>
  <legend>Question 1</legend>
  <p>
    <label>Question:</label>
    <nested_type type = 'questions'></nested_type>
    <%= f.text_field :text%>
  </p>
  <%= render "script_possible_response", f: f %>  
</fieldset>
