<fieldset class="nested-fields question">
  <div class="ui-icon ui-icon-arrowthick-2-n-s" style="top: -42px;left: -14px;position: relative;"></div>
  <legend class="question_label">Question 1</legend>
    <%= f.hidden_field :id, {"class"=> "identity"} %>  

  <p>
    <label>Question:</label>
    <%= f.text_field :text %>
    <%= f.hidden_field :question_order , {"class"=> "question_order"} %>
  </p>
  
  <%= render "script_possible_response", {f: f} %>  
  
</fieldset>
