<fieldset class="nested-fields question">
  <legend class="question_label">Question</legend>
  <p>
    <label>Question:</label>
 <input id="script_questions_attributes_1339334137460_text" name="script[questions_attributes][1339334137460][text]" size="30" type="text">
  </p>

  <table>
    <tr>
      <% if request.domain == 'pdidialer.com' %>
        <th width = 10%>Response ID</th>
      <% end %>
      <th width = 30%>Response</th>
      <th width = 30%>Phones-only keypad</th>
      <th width = 10%>Retry</th>
      <th width = 10%>Delete</th>
    </tr>
  </table>


    <table class="nested-fields possible_response">
      <tbody><tr>
        <td width="30%">
          <input id="script_questions_attributes_1339334137460_possible_responses_attributes_1339335954597_value" name="script[questions_attributes][1339334137460][possible_responses_attributes][1339335954597][value]" size="30" type="text">
        </td>
        <td width="30%">
          <input class="keypad" id="script_questions_attributes_1339334137460_possible_responses_attributes_1339335954597_keypad" name="script[questions_attributes][1339334137460][possible_responses_attributes][1339335954597][keypad]" size="30" type="text">
        </td>
        <td width="15%">
          <input name="script[questions_attributes][1339334137460][possible_responses_attributes][1339335954597][retry]" type="hidden" value="0"><input id="script_questions_attributes_1339334137460_possible_responses_attributes_1339335954597_retry" name="script[questions_attributes][1339334137460][possible_responses_attributes][1339335954597][retry]" type="checkbox" value="1">
        </td>
        <td width="15%">
          <input id="script_questions_attributes_1339334137460_possible_responses_attributes_1339335954597__destroy" name="script[questions_attributes][1339334137460][possible_responses_attributes][1339335954597][_destroy]" type="hidden" value="false"><a href="#" class="ico del remove_fields dynamic" data-removal-validation="possible_response_delete"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <p class='actions'>
    <%= link_to_add_association "New Response", f, :possible_responses , {:class => "action secondary", "data-association-insertion-node"=> "this", "data-association-insertion-method"=>"before", partial: 'possible_response_fields' } %>
  </p>
<input id="script_questions_attributes_1339334137460__destroy" name="script[questions_attributes][1339334137460][_destroy]" type="hidden" value="false">
<a href="#" class="action secondary remove_fields dynamic" data-removal-validation="question_delete">Delete this question</a>

</fieldset>
