<fieldset data-intro="Next, choose what information to display about your leads." data-step="2">
  <legend>Display above script</legend>
  <ul class="clearfix">
    <% voter_fields.try(:each) do |field| %>
      <li>
        <input  type="checkbox" name="voter_field[]" value="<%= field %>" <% if voter_field_values.try(:index, field) %>checked<% end %>>
          <%= field %>
        </input>
      </li>
    <% end %>
  </ul>
</fieldset>
