<table>
  <tr>
    <th width = 30%>Response</th>
    <th width = 30%>Phones-only keypad</th>
    <th width = 15%>Retry</th>
    <th width = 15%>Delete</th>
  </tr>
</table>

  <%= f.semantic_fields_for :possible_responses do |form, possible_response| %>
    <%= render "possible_response_fields", f: form %>  
  <%end%>
  
  <%= link_to_add_association "New Response", f, :possible_responses , {:class => "action secondary add_response", "data-association-insertion-node"=> "this", "data-association-insertion-method"=>"before", partial: 'possible_response_fields' } %>
  
  <%= link_to_remove_association "Delete this question", f , {:class => "action secondary delete_question", "data-removal-validation"=>"question_delete"}%>

