<table>
  <tr>
    <th width = 30%>Response</th>
    <th width = 30%>Phones-only keypad</th>
    <th width = 15%>Retry</th>
    <th width = 15%>Delete</th>
  </tr>
</table>
<p>
  <%= f.fields_for :possible_responses do |builder| %>
    <%= render "possible_response_fields", f: builder %>  
  <%end%>
  <%= link_to_add_fields "New Response", f, :possible_responses %>
  <%= link_to_remove_fields "Delete this question", f %>
</p>

