<table class="nested-fields">
  <tr>
    <td width = 25%>
      <%= f.text_field :label %>
    </td>
    <td width = 25%>
      <%= f.text_field :phone_number %>
    </td>
    <td width = 25%>
      <%= f.select(:transfer_type,[['Cold','cold'],['Warm','warm']]) %>
    </td>

    <td width = 25%>
      <%= link_to_remove_association "", f , {:class => "ico del"} %>
    </td>

  </tr>
</table>
