*.sqlite3
*.log
.idea/*
._*
simulator/database.yml
coverage/
tmp
.DS_Store
lib/*.pid
coverage_unit/
coverage_controller/
/typescript
.bundle
/config/database.yml
/config/application.yml
dump.rdb
*.swp
.pivotalrc

.test
spec/fixtures/test_tmp/
spec/fixtures/vcr_cassettes/
callveyor/app/scripts/config.js
callveyor/app/scripts/*-templates.js
.env
