*.sqlite3
*.log
.idea/*
._*
simulator/database.yml
coverage/
tmp
.DS_Store
test/
lib/*.pid
*.rails2
spec/fixtures/test_tmp/
coverage_unit/
coverage_controller/
bin/
spec/fixtures/test_tmp/
/typescript
.bundle
/config/application .yml
dump.rdb
*.swp
.pivotalrc
