heroku config:add DATABASE_URL=mysql2://root:pfsdh37sl203jq@herokuproduction.cjo94dhm4pos.us-east-1.rds.amazonaws.com/heroku_production 
GEM_PATH                 => vendor/bundle/ruby/1.9.1
heroku config:add HEROKU_APP=impactdialing-beta --app impactdialing-beta
heroku config:add HEROKU_PASS=Mb<3Heroku4F@2tCallz --app impactdialing-beta
heroku config:add HEROKU_USER=michael@impactdialing.com --app impactdialing-beta
LANG                     => en_US.UTF-8
LOGGLY_URL               => http://herokuapp2088358.loggly.com/heroku/resources/herokuapp2088358
PATH                     => bin:vendor/bundle/ruby/1.9.1/bin:/usr/local/bin:/usr/bin:/bin
heroku config:add RACK_ENV=heroku_preproduction  --app impactdialing-beta
RACK_ENV                 => heroku_preproduction
RACK_TIMER_LOG_THRESHOLD => 1000.0
heroku config:add RAILS_ENV=heroku_preproduction  --app impactdialing-beta
REDISTOGO_URL            => redis://redistogo:acc06af2ea8dfd06606c3e641fe0febd@koi.redistogo.com:9090/
SCHEDULER_URL            => http://dyltoeowdzun89cox9vfkcgtb@heroku-scheduler.herokuapp.com/
