$gray-lighter: lighten(#000, 90%);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Status messages */
.status {
    font-size: 120%;
}
.call-in-phone {
    margin-top: auto;
}

/* Spacing for header */
body {
    padding-top: 60px;
}
@media (max-width: 768px) {
    body {
        padding-top: 110px;
    }
}
@media (max-width: 640px) {
    body {
        padding-top: 90px;
    }
    .call-in-phone {
        margin-top: 20px;
    }
    .call-in-phone:empty {
        display: none;
    }
}

/* Prevent 3 pieces of footer content from stacking */
footer .container-fluid {
    p, ul, li {
        display: inline-block;
    }
}
@media (max-width: 768px) {
    footer .container-fluid {
        p:first-child {
            padding-right: 25px;
        }
    }
}

/* Wrapper for .container.fluid */
.fluid-wrap {
    padding: 0 15px;
}

/* Scrollable content boxes */
.content-box {
    max-height: 600px;
    overflow-y: scroll;
}
@media (max-width: 768px) {
  .content-box {
      max-height: 180px;
      overflow-y: auto;
  }
}
@media (max-height: 1100px) {
    .content-box {
        max-height: 960px;
    }
}
@media (max-height: 1000px) {
    .content-box {
        max-height: 760px;
    }
}
@media (max-height: 900px) {
    .content-box {
        max-height: 660px;
    }
}
@media (max-height: 700px) {
    .content-box {
        max-height: 590px;
    }
}

.veil {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #000000;
    z-index: 1;
}

.label-info {
    color: lighten(#000, 30%);
}

nav.navbar-fixed-top div.border-top-thin {
    margin-top: 3px;
    border-top: solid 1px #999;
}