<div class="content clearfix">
	<h1>Add funds</h1>
	<fieldset>
	<%= form_tag("/client/subscriptions/#{@subscription.id}/add_to_balance", method: "PUT") do %>
		<p>
			<label>Amount to add</label>
			<input  type="text" name="amount" value="" >
		</p>
		<p>We'll charge your card ending in <%= @subscription.cc_last4 %>.</p>
		<div class="buttons">
    	<button type="submit">Add funds</button>
		</div>
	<% end -%>
</div>