<h1>Billing</h1>
<% if @subscription.cancelled? %>
  <p>
    You have cancelled your Subscription.
  </p>
<% else %>
  <p>
    Your current plan is
    <b><%= subscription_human_type(@subscription) %></b>.
  </p>

  <p>
    Minutes left:  <%= @account.available_minutes %>
  </p>

  <ul class="actions">
    <% subscription_buttons(@subscription).each do |button| %>
    <li><%= link_to(*button) %></li>
    <% end %>
  </ul>
<% end %>
