<div id="statusdiv" style="float:right; padding-bottom:10px;">Status: Not connected.</div>
<div id="actions" class="actions">
  <a href="javascript:next_voter();" class="action secondary">Skip</a>
  <a href="javascript:call_voter();" class="action secondary">Call</a>
  <a href="javascript:disconnect_caller();" class="action secondary">Hangup</a>
  <a href="javascript:send_voter_response();" class="action secondary">Submit</a>
</div>