<div id="statusdiv" style="float:right">Status: Not connected.</div>
<div id="actions" class="actions">
  <a id= "call_voter" href="javascript:call_voter();" class="action secondary hide">Dial</a>
  <a id= "skip_voter" href="javascript:next_voter();" class="action secondary hide">Skip</a>
  <a id= "stop_calling" href="javascript:disconnect_caller();" class="action secondary hide">Stop calling</a>
  <a id= "hangup_call" href="javascript:disconnect_voter();" class="action secondary hide">Hang up</a>
  <a id= "kick_self_out_of_conference" href="javascript:kick_caller_off();" class="action secondary hide">Hang up</a>
  <a id= "submit_and_keep_call" href="javascript:send_voter_response();" class="action secondary hide">Submit and keep calling</a>
  <a id= "submit_and_stop_call" href="javascript:send_voter_response_and_disconnect();" class="action secondary hide">Submit and stop calling</a>
</div>