<fieldset>
  <legend>Results</legend>
  <div id="result_instruction"><em>When connected, call result options will appear here.</em></div>
  <div id="response_panel" class="rt" style="font-size : 1em;">

    <form id="voter_responses">
      <% @campaign.script.questions.each do |question| %>
          <div>
            <%= question.text %>
            <%= select :question, nil, question.possible_responses.collect { |pr| [pr.value, pr.id] }, {:include_blank => true} %>
          </div>
      <% end %>
    </form>


  </div>
</fieldset>