<fieldset>
  <legend>Results</legend>
  <div id="result_instruction"><em>When connected, call result options will appear here.</em></div>

  <div id="response_panel" class="rt" style="font-size : 1em; display: none;">
    <form id="voter_responses">
      
      <% @campaign.script.try(:questions).try(:each) do |question| %>
          <div>
            <%= question.text %>
            <%= select :question, nil, question.possible_responses.collect { |pr| [pr.value, pr.id] }, {:include_blank => true} %>
          </div>
      <% end %>
    </form>
    <form id="voter_notes_response">
      <% @campaign.try(:script).try(:notes).try(:each) do |note| %>
        <div>
          <%= note.note %>
          <input type="text" id="note_response_<%= note.id %>" >
        </div>
      <% end %>
    </form>

  </div>
</fieldset>