<fieldset id="result_instruction">
  <legend>Results</legend>
  <div style="color: #A0A0A0"><em>When connected, call result options will appear here.</em>
  </div>
</fieldset>
<%= render :partial => "callers/campaigns/response_panel" %>



