<div id="transfer_panel" style="display" >
  <% if @campaign.script.transfers.present? %>
    <fieldset>
      <legend>Transfer</legend>            
      <form id="transfer_form" method="post" action="">
        <%= select( "transfer", "id",@campaign.script.transfers.collect{|transfer| [transfer.label + " - "+ transfer.phone_number  ,transfer.id]}) %>               
        <p>
          <%= radio_button("transfer", "type", "warm")%> Warm 
          <%= radio_button("transfer", "type", "cold")%> Cold 
        </p>
        <div class= "buttons">
            <button type="submit" style="margin-top:10px" onclick="javascript:transfer_call();">Transfer</button>
        </div>
      </form>
      
    </fieldset>
  <% end %>
  
  
</div>
