<% content_for :javascripts do %>
  <%= javascript_include_tag 'caller/index' %>
<% end %>
<h1>Welcome!</h1>

<fieldset>
  <legend>Select campaign</legend>
  <% if @campaigns.present?  %>
    <p><%= collection_select(:campaign, :current, @campaigns, :id, :name, :id=>"current_campaigns" ) %>
      <%= link_to_function "Go to campaign", "go_to_current_campaign()", :class => "action primary", :style => "margin-left: 7px" %></p>
  <% else %>
    <p>There are no campaigns assigned to you.</p>
  <% end %>
</fieldset>

<div role="main">

  <h2>Getting started</h2>

  <p>First, choose your campaign above and click "Go to campaign".</p>

  <p>You'll see a preview of your script. When you're ready to start, click "Start calling" or call the call-in number and enter the PIN and Campaign ID on your screen.</p>

  <p>Start talking when the hold music ends - you often won't hear the "hello". Information about the person who answered will pop up above the script, and your call result options will appear below. At the end of your call, click the "Hang up" button on the bottom of your screen. After you enter your call results, either choose "Submit and keep calling" or "Submit and stop calling".</p>

  <p>When you stop, you’ll be returned to the script preview screen. If you want to switch campaigns, click Home in the
    upper right corner to come back to this screen.</p>

</div>

<div role="complementary">
  <h2>Supported browsers</h2>

  <p>Impact Dialing works best in <a href="http://www.google.com/chrome/">Google Chrome</a> and
    <a href="http://www.apple.com/safari/">Apple Safari</a> versions 5 or higher. To use the built-in browser phone, <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a> and a high-speed Internet connection (at least 30/20Kbps) are required.</p>

  <p>We also support lower versions of Chrome and Safari, as well as all versions of Firefox, and Internet Explorer
    versions 6 and higher. You must have <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a> installed for these browsers to work (even if you aren't using the browser phone).</p>

<p>Avast Antivirus users: You must disable Avast's Web Shield, as it has a bug that prevents Impact Dialing from working properly. You might consider <a href="http://support.avast.com/">contacting Avast</a> to ask that they fix the bug blocking WebSocket traffic.</p>
</div>