<div class="fields">
  <p>

  <div class="table">
      <td><%= f.text_field :response %></td>
      <td><%= f.text_field :keypad %></td>
      <td><%= link_to_remove_fields "remove", f, :class => 'ico del' %></td>
      </tr>
  </div>
  </p>
</div>