<h1>Messages</h1>
<%= render 'messages', :messages => @scripts  %>
<p class="actions"><%= link_to 'Add new message', new_message_path, :class => 'action primary' %></p>
<p class="actions"><%= link_to 'Add interactive message', new_script_path, :class => 'action primary' %></p>
<p class="actions"><%= link_to 'View deleted messages', deleted_scripts_path, :class => 'action secondary' %></p>
