<h1>Welcome!</h1>

<fieldset>
  <legend>Select campaign</legend>

  <% form_tag("/caller", :id=>"loginForm") do |f| %>
    <p><label for="">Campaigns</label>
      <select name="campaign_id" class="field">
        <!--	<option value="">-- Choose your campaign --</option>  -->
        <% @campaigns.uniq.each do |c| %>
          <% if c.use_web_ui? %>
            <option value="<%= c.id %>"><%= c.name %></option>
          <% end %>
        <% end %>
    </select></p>
    <div class="buttons">
      <button type="submit">Go to campaign</button>  (You'll preview the script before calling.)
    </div>
  <% end %>

</fieldset>
<div>
	<div style="float:right;">
		Supported Browsers:<Br/>
		<img src="/images/caller_compat.jpg">
	</div>
	<div>
	  <%= cms "caller_welcome_text" %>
	</div>
</div>