<h1>Log in</h1>
        <%= form_tag("/caller/login", :id=>"loginForm") do |f| %>
<fieldset>
    <p><label for="">Username</label><br>
  <input type="text" name="username" class="field" value="<%= params[:username] %>" />


    <p><label for="">Password</label><br>
  <input type="password" class="field" name="password"/>


  <div class="buttons">
  <button type="submit">Log in</button>
  </div>
</fieldset>
      <% end %>
<p class="webapp-login-links">
  If you are an administrator, <a href=<%="#{request.protocol}admin.#{request.domain}/"%>>log in here</a>.
  <br>
  To view phones-only reports, <a href=<%="#{request.protocol}admin.#{request.domain}/callers/phones_only"%>>log in here</a>.
</p>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      function isNativeApp(){
        return (navigator.userAgent == "ImpactDialing-Android" || navigator.userAgent == "ImpactDialing-Apple");
      }
      if(isNativeApp()){
        $(".webapp-login-links").hide();
      }
    });
  </script>
<% end %>