<h1>Log in</h1>
        <%= form_tag("/caller/login", :id=>"loginForm") do |f| %>
<fieldset>
    <p><label for="">Email</label><br>
  <input type="text" name="email" class="field" value="<%= params[:email] %>" />


    <p><label for="">Password</label><br>
  <input type="password" class="field" name="password"/>


  <div class="buttons">
  <button type="submit">Log in</button>
  </div>
</fieldset>
      <% end %>
<p>
  If you are an administrator, <a href="/client">log in here</a>.
  <br>
  To view phones-only reports, <a href=<%="#{request.protocol}admin.#{request.domain}/callers/phones_only"%>>log in here</a>.
</p>
