<h1>Log in</h1>
				<%= form_tag("/caller/login", :id=>"loginForm") do |f| %>
<fieldset>
		<p><label for="">Email</label><br>
	<input type="text" name="email" class="field" value="<%= params[:email] %>" />


		<p><label for="">Password</label><br>
	<input type="password" class="field" name="password"/>


	<div class="buttons">
	<button type="submit">Log in</button>
	</div>
</fieldset>
			<% end %>
<p>If you are an administrator, <a href="/client">log in here</a>.</p>

<p>If you want your callers to login from another website, you can embed the HTML below in your page:<br /><br />
	<textarea class="embedded_login_form">
<form accept-charset="UTF-8" action="http://impactdialing.com/caller/login" method="post">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <fieldset style="border: 0px;">
    <p><label for="">Email</label><br>
      <input type="text" name="email" class="field" value="" />
    </p>
    <p><label for="">Password</label><br>
      <input type="password" class="field" name="password"/>
    </p>
    <div class="buttons">
      <button type="submit">Log in</button>
    </div>
  </fieldset>
</form>
	</textarea>
</p>
