<b>Network Test</b>
<br/><script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script><input type="button" value="Click to Begin" onclick="start();">
<br/>
<br/>

<div id="results" style="color:green; font-size:12px;"></div>
<div id="failure" style="color:red; font-face:bold;"></div>
<br/>

<script>
var num_tests=10;
var num=0;
var push_success=0;
function start(){
	ajax_ping();	
}

function ajax_ping()
{
	num=num+1;
    $.ajax(
    {
        type: 'GET',
		timeout: (2 * 1000),
        url: '/caller/ping?key=<%= @rand %>&num=' + num,
        success: function(data)
        {
//            alert('Success');
			$('#results').append('ajax test ' + num + '/' + num_tests + ' success<br/>');
			if (num<num_tests){
			 setTimeout(function()
			            {
			                ajax_ping();
			            }, 500);
			} else {
				if (push_success==num_tests)
					$('#results').append('<b>All tests succeeded</b><br/>');
			}
        },
        error: function(XMLHttpRequest, textStatus, errorThrown)
        {
	  		$('#failure').append('ajax test ' + num + ' failure ' + textStatus + '<br/>');
				if (num<num_tests){
				 setTimeout(function()
				            {
				                ajax_ping();
				            }, 500);
				}
        }
    });
}


var pusher = new Pusher('<%= PUSHER_KEY %>');
var channel = pusher.subscribe('<%= @rand %>');
Pusher.log = function(message) {
//	$('#results').append(message + '<br/>');
};

$(document).ready(function() {
	pusher.bind('pusher:connection_established', function(ev) {
//		$('#results').append('push connection established <br/>');
	});
	
	channel.bind('ping', function(data) {
		$('#results').append('push ' + data + '/' + num_tests + ' received<br/>');
		push_success=push_success+1;
    });
});
</script>