<div class="btn-group" data-ng-hide="transfer.list.length == 0">
  <button type="button" class="btn btn-default navbar-btn dropdown-toggle">Transfer <b class="caret"></b></button>
  <ul class="dropdown-menu" role="menu">
    <li data-ng-repeat="target in transfer.list">
      <a href="#" data-ng-click="transfer.select(target.id)">
        {{target.label}} ({{target.phone_number}}) <span class="label label-{{target.transfer_type == 'warm' ? 'danger' : 'info'}}">{{target.transfer_type}}</span>
      </a>
    </li>
  </ul>
</div>