html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
del{text-decoration:line-through}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{padding:4px 8px 5px;background-color:#1777af;color:#fff;font-style:normal;font-weight:200}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #c0c0c8;margin:1em 0;padding:0}
html{overflow-y:scroll;background:#fff}
body{margin:0 auto;padding:24px 0;width:90%;font:100%/1.4 "Helvetica Neue",Helvetica,Arial;font-weight:200;color:#666;background-color:transparent}
h1,h2,h3,h4,h5,h6{font-weight:700}
h1{margin-bottom:.25em;font-size:2.375em;line-height:1.2}
h2{margin-bottom:.5em;font-size:1.75em;line-height:1.3}
h3{margin-bottom:.75em;font-size:1.5em;line-height:1.3}
h4{margin-bottom:1.25em;font-size:1.125em;line-height:1.25}
h5{margin-bottom:1.5em;font-size:1em}
h6{font-size:1em}
p,ol,ul,dl,address,small,div.vcard{margin-bottom:1.5em;font-size:.875em}
ul,ol{margin:0 0 1.5em -24px;padding-left:24px}
ul{list-style-type:disc}
ol{list-style-type:decimal}
li ul,li ol{margin:0;font-size:1em}
dl,dd{margin-bottom:1.5em}
dt{font-weight:normal}
blockquote{margin:0 0 1.5em -24px;padding-left:24px;border-left:1px solid #c0c0c8;font-style:italic}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
b,strong{font-weight:700}
i,em{font-style:italic}
sup,sub{position:relative;font-size:75%;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
address{font-style:normal}
pre{margin-bottom:1.5em;white-space:pre;white-space:pre-wrap;word-wrap:break-word}
pre,code{font:.875em 'andale mono','lucida console',monospace;line-height:1.5}
a,a:visited{color:#c23634;text-decoration:none}
a:hover{color:#9f2f1b;text-decoration:underline}
a:active,a:focus{color:#000}
a.action{padding:6px 24px 7px;background-color:#f4f4f4;text-shadow:0 1px 1px #fff}
a.action:hover{text-decoration:none}
a.primary{display:inline-block;background-color:#c23634;color:#fff;text-shadow:0 -1px 1px #000}
a.primary h3{margin-bottom:0;padding-left:40px;font-weight:500;background:transparent url(../img/furniture-primary-signup.png) no-repeat 0 50%}
a.primary p{margin-bottom:0;padding-left:40px;font-weight:400}
a.secondary{display:inline-block;background-color:#456587;color:#fff;text-shadow:0 -1px 1px #000;font-weight:400}
a.fat{padding:16px 24px 17px}
.ico{display:block;width:20px;height:20px;text-indent:-9999px}
.del{background:transparent url(../img/icon-del.png) no-repeat 0 0}
.dl{background:transparent url(../img/icon-dl.png) no-repeat 0 0}
figure{margin-bottom:1.5em}
figure img,figure object,figure embed{margin-bottom:.75em;max-width:100%}
figcaption{display:block;font-weight:normal}
table{border-collapse:collapse;border-spacing:0;margin-bottom:1.4em;width:100%;font-size:.875em}
th{font-weight:700}
th,td,caption{text-align:left;padding:.5em 10px 0 5px}
tr:nth-child(odd) th,tr:nth-child(odd) td{background-color:#eee}
tfoot{font-style:italic}
caption{background-color:transparent}
table h3{font-size:1em}
form{margin-bottom:1.5em}
.form{overflow-y:hidden;margin-bottom:1.5em}
fieldset{margin-bottom:1.5em;padding:0;border-width:0}
legend{margin-top:-.2em 0 1em 0;font-weight:400;font-size:1.2em}
label{display:block;margin-bottom:0;font-weight:400}
button,input,select,textarea{margin:0}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}
input,select{vertical-align:middle}
input[type=text],input[type=password],input[type=tel],input[type=email],input[type=url],input[type=search],textarea{padding:2px;width:100%;background-color:#fff;border:1px solid #c8c8c8;font-family:inherit;font-size:inherit}
input[type=text]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,textarea:focus{border-color:#646464}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
input:invalid,textarea:invalid{-webkit-box-shadow:0 0 2px #f00;-moz-box-shadow:0 0 2px #f00;box-shadow:0 0 2px #f00}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
select{margin:.5em 0;background-color:#fff;border-width:1px;border-style:solid}
textarea{overflow:auto;padding:2px;height:200px}
button{width:auto;padding:8px 12px 9px;overflow:visible;background-color:#e3e3e3;border-width:0;font-family:"Helvetica Neue",Helvetica,Arial;font-size:.875em;font-weight:bold;text-align:center;line-height:1;color:#333}
button:hover{cursor:pointer}
.ie6 legend,.ie7 legend{margin-left:-7px}
.ie6 input{vertical-align:text-bottom}
.ie7 input[type="checkbox"],.iem7 input[type="checkbox"]{vertical-align:baseline}
fieldset{margin-bottom:1.5em;padding:20px;background-color:#eee;border:1px solid #e3e3e3}
form p{margin-bottom:.75em}
form p.actions{margin:1.5em 0}
form ul{list-style-type:none}
form br{display:none}
form em{color:#a0a0a0}
input[type=text],input[type=password],input[type=tel],input[type=email],input[type=url],input[type=search],textarea{border:1px solid #eee;border-top:1px solid #e0e0e0}
button{display:inline-block;background-color:#9b2e19;color:#fff;text-shadow:0 -1px 1px #000;font-size:.875em;font-weight:400}
.buttons{margin-bottom:1.5em}
.buttons button{display:block;margin-bottom:.75em}
header[role="banner"]{margin-bottom:1.5em}
header[role="banner"] h1{margin-bottom:.5em;width:300px;height:55px;text-indent:-9999px}
header[role='banner'] h1.impactdialing{background:transparent url(../img/impactdialing-h1.png) no-repeat 0 0}
header[role='banner'] h1.dc-london{background:transparent url(../img/dc-london-h1.png) no-repeat 0 0}
header[role='banner'] h1.stonesphones{background:transparent url(../img/stonesphones-h1.png) no-repeat 0 0}
header[role="banner"] h1 a{display:block;height:55px}
header[role="banner"] a.action{display:block;text-align:center}
nav[role="navigation"] ul{list-style-type:none;margin-left:0;padding:10px 10px 0 10px;border:1px solid #313131;background-color:#313131}
nav[role="navigation"] li{margin-bottom:.75em;padding:10px;background-color:#dfdfe4;border:1px solid #adadb2;text-align:center}
nav[role="navigation"] a{display:block;text-transform:uppercase;font-weight:400;font-size:.875em;color:#333;text-shadow:0 1px 1px #fff}
nav[role="navigation"] li:last-child{background-color:#c23634;border:1px solid #c23634}
.admin nav[role="navigation"] li:last-child{background-color:#dfdfe4;border:1px solid #adadb2}
nav[role="navigation"] li:last-child a{color:#fff;text-shadow:0 -1px 1px #000}
.admin nav[role="navigation"] li:last-child a{color:#333;text-shadow:0 1px 1px #fff}
.content{margin-bottom:1.5em}
.content+.content{padding-top:1.5em;border-top:1px solid #c0c0c8}
.reverse{margin-bottom:1.5em;border-bottom:1px solid #c0c0c8}
.reverse h1{font-size:1.75em}
.reverse h2{font-size:1em}
.reverse a.primary{margin-bottom:1em}
#terms{padding-top:1.5em;border-top:1px solid #c0c0c8}
#privacy li,#terms li{margin-bottom:.75em}
section h1,.hentry h1{margin-bottom:.5em;font-size:1.75em;line-height:1.3}
.hentry header ul,.hentry footer ul,aside ul{list-style-type:none}
[role="complementary"] ul{list-style-type:none}
#contact:target{padding:20px;border:1px solid #e3e3e3}
#contact ul{list-style-type:none}
#contact:target p:last-child{margin-bottom:0}
#contact .contact-email{margin-bottom:.75em;padding-left:40px;background:transparent url(../img/icon-contact-email.png) no-repeat 0 50%}
#contact .contact-phone{height:28px;padding-left:40px;background:transparent url(../img/icon-contact-phone.png) no-repeat 0 50%;line-height:28px}
footer[role="contentinfo"]{padding-top:.75em;border-top:3px solid #c0c0c8}
footer[role="contentinfo"] ul{list-style-type:none}
footer[role="contentinfo"] small{display:block;margin-bottom:1.5em}
footer[role="contentinfo"] small a{display:block}
footer[role="contentinfo"] .tel{display:block;font-size:1.5em}
footer[role="contentinfo"] a[href="http://stuffandnonsense.co.uk"]{display:block}
.clear{clear:both}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.callout{margin-bottom:1.5em;padding:20px;background-color:#eee;border:1px solid #e3e3e3}
.callout p{font-size:1em}
.callout p:last-child,.callout p:only-child{margin-bottom:0}
.callout .action{margin-bottom:1.5em}
.alert{padding-left:60px;background:#e1f2fe url(../img/icon-alert.png) no-repeat 20px 20px;border:1px solid #c7e0f1}
.col h3{margin-bottom:.25em}
.col ul{list-style-type:none}
body{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:link{-webkit-tap-highlight-color:#c23634}
::-webkit-selection{background:#c23634;color:#fafafa;text-shadow:none}
::-moz-selection{background:#c23634;color:#fafafa;text-shadow:none}
::selection{background:#c23634;color:#fafafa;text-shadow:none}
::-webkit-input-placeholder{font-size:.875em;line-height:1.4}
input:-moz-placeholder{font-size:.875em;line-height:1.4}
.ie7 img,.iem7 img{-ms-interpolation-mode:bicubic}
body,div,input,textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
.ellipsis{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.nocallout{-webkit-touch-callout:none}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none;visibility:hidden}
.visuallyhidden{position:absolute;clip:rect(0 0 0 0);overflow:hidden;margin:-1px;padding:0;height:1px;width:1px;border:0}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{position:static;clip:auto;overflow:visible;height:auto;margin:0;width:auto}
.invisible{visibility:hidden}
#goog-fixurl ul{list-style-type:none}
#goog-fixurl input{margin-bottom:1.5em}
.content:first-of-type{margin-bottom:1.5em}
.admin header[role="banner"] ul{list-style-type:none}
input[type=text],input[type=password],input[type=tel],input[type=email],input[type=url],input[type=search],textarea{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
fieldset,.callout,a.primary,button{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
nav[role="navigation"] ul,nav[role="navigation"] li{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
a.secondary{-webkit-border-radius:24px;-moz-border-radius:24px;border-radius:24px}
.action{-webkit-box-shadow:0 1px 1px rgba(0,0,0,.9);-moz-box-shadow:0 1px 1px rgba(0,0,0,.9);box-shadow:0 1px 1px rgba(0,0,0,.9)}
a.primary,button{-webkit-box-shadow:0 1px 1px rgba(0,0,0,.9),inset 0 1px 2px #c23634,inset 0 -3px 2px #c23634;-moz-box-shadow:0 1px 1px rgba(0,0,0,.9),inset 0 1px 2px #c23634,inset 0 -3px 2px #c23634;box-shadow:0 1px 1px rgba(0,0,0,.9),inset 0 1px 2px #c23634,inset 0 -3px 2px #c23634}
a.secondary{-webkit-box-shadow:0 1px 1px rgba(0,0,0,.9),inset 0 1px 2px #5179a2,inset 0 -2px 2px #446485;-moz-box-shadow:0 1px 1px rgba(0,0,0,.9),inset 0 1px 2px #5179a2,inset 0 -2px 2px #446485;box-shadow:0 1px 1px rgba(0,0,0,.9),inset 0 1px 2px #5179a2,inset 0 -2px 2px #446485}
.cssgradients nav[role="navigation"] ul{background-image:-webkit-gradient(linear,left top,left bottom,from(#313131),to(#000));background-image:-moz-linear-gradient(top,#313131,#000);background-image:-o-linear-gradient(top,#313131,#000);background-image:linear-gradient(top,#313131,#000)}
.cssgradients nav[role="navigation"] li{background-image:-webkit-gradient(linear,left top,left bottom,from(#dfdfe4),to(#cfcfd5));background-image:-moz-linear-gradient(top,#dfdfe4,#cfcfd5);background-image:-o-linear-gradient(top,#dfdfe4,#cfcfd5);background-image:linear-gradient(top,#dfdfe4,#cfcfd5)}
.cssgradients nav[role="navigation"] li:last-child,.cssgradients nav[role="navigation"] li:last-child:hover{background-image:-webkit-gradient(linear,left top,left bottom,from(#c23634),to(#9f2f1b));background-image:-moz-linear-gradient(top,#c23634,#9f2f1b);background-image:-o-linear-gradient(top,#c23634,#9f2f1b);background-image:linear-gradient(top,#c23634,#9f2f1b)}
.cssgradients .admin nav[role="navigation"] li:last-child,.cssgradients .admin nav[role="navigation"] li:last-child:hover{background-image:-webkit-gradient(linear,left top,left bottom,from(#dfdfe4),to(#cfcfd5));background-image:-moz-linear-gradient(top,#dfdfe4,#cfcfd5);background-image:-o-linear-gradient(top,#dfdfe4,#cfcfd5);background-image:linear-gradient(top,#dfdfe4,#cfcfd5)}
.cssgradients a.action{background-image:-webkit-gradient(linear,left top,left bottom,from(#dfdfe4),to(#cfcfd5));background-image:-moz-linear-gradient(top,#dfdfe4,#cfcfd5);background-image:-o-linear-gradient(top,#dfdfe4,#cfcfd5);background-image:linear-gradient(top,#dfdfe4,#cfcfd5)}
.cssgradients a.primary,.cssgradients button{background-image:-webkit-gradient(linear,left top,left bottom,from(#c23634),to(#9f2f1b));background-image:-moz-linear-gradient(top,#c23634,#9f2f1b);background-image:-o-linear-gradient(top,#c23634,#9f2f1b);background-image:linear-gradient(top,#c23634,#9f2f1b)}
.cssgradients a.secondary{background-image:-webkit-gradient(linear,left top,left bottom,from(#456587),to(#2b4863));background-image:-moz-linear-gradient(top,#456587,#2b4863);background-image:-o-linear-gradient(top,#456587,#2b4863);background-image:linear-gradient(top,#456587,#2b4863)}
a{-webkit-transition:color .15s linear;-moz-transition:color .15s linear;-o-transition:color .15s linear;transition:color .15s linear}
.csstransitions a:hover{text-decoration:none}
a.action,button{-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}
a.action:hover,button:hover{opacity:.95}
.rgba .primary{color:rgba(255,255,255,.9)}
