<center>
<br/>
<br/>
Edit CMS block:
<br/>
<b>Version: <% if @version.blank? %>Live<% else %><%= @version %><% end %> (<a href="/admin/pick_version">edit</a>)</b>
<% form_tag() do %>
<table>
	<tr><td>Key:</td><td> <input type="text" name="key" value="<%= @source.crmkey %>"></td>
	<tr><td valign="top">Content:</td><td> <textarea name="content" rows="10" cols="40"><%= @source.content %></textarea></td>
</table>
	<input type="submit" value="Submit">
</table>
<% end -%>
</center>