<center><Br/>
Select a version:
<%= form_tag do %>
  <select name="v">
	<% @versions.each do |v| %>
		<option name="<%= v %>" <% if session[:cms_version]==v %>selected<% end %>><%= v %><% if v.blank? %>Live<% end %></option>
	<% end %>
	</select>
	<input type="submit" value="Choose Version">
<% end -%>


<br/>or<br/>
<%= form_tag do %>
	Create a new version: <input type="text" name="nv">
	<input type="submit" value="Create Version">
<% end %>
</center>

<br/>
