<h1>Admin Reporting</h1>

Report Date Range:
<%= form_tag ("/admin/report") do %>
  <table>
    <tr>
      <td>From:</td>
      <td><input class="format-m-d-y divider-slash" id="from_date" name="from_date" type="text" value="<%= @from_date.strftime("%m/%d/%Y") %>"></td>
    </tr>
    <tr>
      <td>
        To:</td>
      <td><input class="format-m-d-y divider-slash" id="from_date" name="to_date" type="text" value="<%= @to_date.strftime("%m/%d/%Y") %>"></td>
    </tr>
  </table>
  <button type="submit">Enqueue resque job to calcualte result</button>
<% end %>
