---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/senders/domains.json
    body:
      encoding: UTF-8
      string: '{"key":"qlYdRXlyROwaN9Tqk1QrhA"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"domain":"gettangent.com","created_at":null,"last_tested_at":null,"spf":{"valid":false,"valid_after":null,"error":null},"dkim":{"valid":false,"valid_after":null,"error":null},"verified_at":null,"valid_signing":false},{"domain":"impactdialing.com","created_at":null,"last_tested_at":null,"spf":{"valid":false,"valid_after":null,"error":null},"dkim":{"valid":false,"valid_after":null,"error":null},"verified_at":null,"valid_signing":false},{"domain":"stonesphones.com","created_at":null,"last_tested_at":null,"spf":{"valid":false,"valid_after":null,"error":null},"dkim":{"valid":false,"valid_after":null,"error":null},"verified_at":null,"valid_signing":false}]'
  recorded_at: Fri, 31 Oct 2014 05:42:26 GMT
recorded_with: VCR 2.9.3
