---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send.json
    body:
      encoding: UTF-8
      string: '{"message":{"to":[{"email":"exceptions@impactdialing.com"}],"subject":"Attempted
        to Stale a stale object: CallerSession","text":"3 attempts made:<br/>0.001418<br/>0.000928<br/>0.000831<br/><br/><br/>Backtrace:<br/><br/>[\"/Users/jh/projects/Impact-Dialing/spec/models/call_spec.rb:213:in
        `block (8 levels) in <top (required)>''\", \"/Users/jh/.rvm/gems/ruby-2.0.0-p598@impact-dialing/gems/rspec-mocks-3.0.2/lib/rspec/mocks/message_expectation.rb:592:in
        `call''\", \"/Users/jh/.rvm/gems/ruby-2.0.0-p598@impact-dialing/gems/rspec-mocks-3.0.2/lib/rspec/mocks/message_expectation.rb:592:in
        `block in call''\", \"/Users/jh/.rvm/gems/ruby-2.0.0-p598@impact-dialing/gems/rspec-mocks-3.0.2/lib/rspec/mocks/message_expectation.rb:591:in
        `map''\", \"/Users/jh/.rvm/gems/ruby-2.0.0-p598@impact-dialing[...]
