.inline {
  vertical-align: top;
  display: inline-block;
}

.notice {
  float: right;
  max-width: 25%;
  display: inline-block;
  background-color: rgb(225,242,254);
  border : 1px solid rgb(199,224,241);
  vertical-align: top;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-danger{
  background-color: #999;
  color: rgb(194,54,52);
}
.label-danger[href]:focus, .label-danger[href]:hover{
  background-color: #999;
  color: rgb(194,54,52);
}

label > input[type="checkbox"], label > input[type="radio"] {
  vertical-align: middle;
}

fieldset li {
  padding: .2em .6em .3em;
}