<div id='caller_password'>
<fieldset>
   <legend>Caller report password</legend>

   <%= form_tag client_caller_password_path do %>
   <p>
     <label>Password</label>
    <input type="password" class="field" name="caller_password" value="<%= params[:caller_password] %>">
   </p>
     <div class="buttons">
         <button type="submit">Save</button>
      </div>
   <% end %>
 </fieldset>
</div>
