<h3>Administrators</h3>

<% @account.users.each do |user| %>
  <div><%= user.email %></div>
  <div><%= link_to 'Revoke access', 'javascript:void(0)', :onclick => 'alert("to be implemented")' %>
<% end %>

<% form_tag client_user_invite_path do %>
  <div>Invite another administrator:</div>
  <%= text_field_tag :email %>
  <%= submit_tag 'Send invitation' %>
<% end %>
