<% form_for @user, :url => user_update_password_path(@user), :method => :put do |f| %>
<%= hidden_field_tag :reset_code, @user.password_reset_code %>
<h1>Set password for <%= @user.email %></h1>
 <fieldset>
  <p><%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %></p>
  <button type="submit">Set password</button>
 </fieldset>
<% end %>
