	<div class="box-head">
	  <h1 class="left"><%= title %></h1>
	<% if false %>
	  <div class="right">
	    <label>search articles</label>
	    <input type="text" class="field small-field" />
	    <input type="submit" class="button" value="search" />
	  </div>
	<% end %>
	</div>
