
<div style="display:none;" id="note_container_<%= num %>"> 

	<fieldset>
	<p><label for="">Note <%= num %></label><br>
	<input type="text" name="note_<%= num %>" value="<%= eval("@script.note_#{num}") %>"></p>
	</fieldset>

</div>
