<div style="display:none;" id="note_container_<%= num %>"> 

	<fieldset>
	<legend>Note <%= num %></legend>
	<input type="text" name="note_<%= num %>" value="<%= eval("@script.note_#{num}") %>"></p>
	</fieldset>

</div>
