<div role="main">

<h1>Welcome!</h1>

<p>We've worked hard to make our predictive dialer as easy to use as possible, but we realize there may be a couple things that aren't self-explanatory.</p>

<h3>Callers</h3>

<p>In between calls, your callers will be played a droning hold tone. When the hold music ends, they are connected to a lead. Usually, the callers will not hear the lead say "hello".</p>

<p>Each caller using the web interface needs their own login. Two people can't log in at the same time.</p>

<h3>Phones-only callers</h3>

<p>Phones-only PINs can be shared and used by multiple people at the same time.</p>

<p>When you set up your scripts, the "Phones-only keypad" values refer to the buttons that your callers press on their phones to enter results after each call. Callers can press * to hang up the current call, then enter their results on their keypad and press * again to submit each result. Make a test call; you'll see how it works.</p>

<h3>Campaigns</h3>

<p>Caller ID refers to the phone number that your leads see on their Caller ID when the predictive dialer calls them. In many places, you are legally required to display a valid Caller ID for your company or organization, so you should always use a valid Caller ID.</p>

<p>Preview mode calls one person at a time, lets you preview the name of the person you are calling before you dial, and lets you choose to skip the current person. Power mode calls one person at a time immediately after you finish your previous call, without giving you the option to skip. Predictive mode uses an intelligent controller to optimize the amount of time your callers spend talking to leads.</p>

<p>Abandonment rate is the percentage of answered phone calls in predictive mode that are picked up when no caller is available. Abandoned calls are often regulated by the government to be less than 3% of answered dials. The higher the abandonment rate, the less time your callers will spend waiting between calls.</p>

<p>Recycle rate is the minimum amount of time the dialer will wait between calling the same lead twice.</p>

<h3>Monitor</h3>

<p>Eavesdropping and breaking in on calls requires <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a> and a high-speed Internet connection (at least 30Kbps download and 20Kbps upload).</p>

<h3>Support</h3>

<p>Hopefully, this is enough information to answer all of your questions. If you need to find your way back here, just click "Help" in the upper right corner. Contact information for support is in the lower right corner of your screen.</p>

</div>


</div>
