<div role="main">
  <h1>Welcome</h1>
  <p>Here's a video showing how to use our dialer. We add new features and improve our design regularly, so please excuse if the video is a little out of date. If you need any further help, you can contact support at the email or phone listed in the bottom right of your screen.</p>
  <div class="video">
  <iframe width="420" height="315" src="http://www.youtube.com/embed/-2t_gdIbYNw?rel=0&fs=1&autohide=1&modestbranding=1"></iframe>
  </div>
</div>

<script src="/js/mylibs/jquery.fitvids.js"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".video").fitVids();
  });
</script>
<script>
var _gaq=[["_setAccount","UA-23484025-1"],["_trackPageview"]];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
s.parentNode.insertBefore(g,s)}(document,"script"));
</script>