<form method="post" action="https://staging.impactdialing.com/api/voter_lists" enctype="multipart/form-data">
	<input type="text" name="campaign_id" value="1" />
  <input type="text" name="account_id" value="1" />
  <input type="text" name="api_key" value="1mp@ctd1@l1ng" />
  <input type="text" name="email" value="nikhil@activesphere.com" />
	<input type="file" name="upload[datafile]" />
  <input type="text" name="voter_list_name" value="nikhiltest" />
	<input type="submit" name="submit" value="submit" />
</form>


