<div role="main">
  <h2>Account Disabled</h2>
  <p>
    This account has been disabled.
  </p>
  <p>
    Don't fret! Your campaigns and call data are still safe and sound.
  </p>
  <p>
    Accounts are usually disabled because recent activity has raised some warning flags which could indicate some abuse of our systems or policies. This may not be the case for your account.
  </p>
  <p>
    Please email <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a> or call <b class="tel"><%= phone %></b> for assistance.
  </p>
</div>
