<div class="content clearfix">
<h1>Add funds</h1>
<fieldset>
<%= form_tag do %>
<p>
	<label>Amount to add</label>
	<input  type="text" name="amount" value="" >
</p>
<p>We'll charge your <%= @billing_info.card_type %> ending in <%= @billing_info.last_four %>.</p>
<div class="buttons">
    <button type="submit">Add funds</button>
</div>
<% end -%>
</div>