<h1>Billing</h1>
  <p>Your current plan is <%= @account.subscription.type %>.</p>
  <% if @account.subscription.per_agent? %>
    <p>Minutes Left:  <%= @account.subscription.available_minutes %></p>

      <p class="actions"><a href="/client/billing_form" class="action secondary confirm">Upgrade</a></p>

    <% if !@account.subscription.trial? %>
      <p class="actions"><a href="/client/update_billing_quantity" class="action secondary">Change # of callers</a></p>
      <p class="actions"><a href="/client/cancel_subscription" class="action secondary">Cancel subscription</a></p>
    <% end %>
  <% end %>

  <% if @user.account.subscription.per_minute? %>
    <p>Your current balance is <%= number_to_currency @balance %>.</p>
    <p class="actions"><a href="/client/add_to_balance" class="action secondary">Add to your balance</a></p>
    <p class="actions"><a href="/client/recharge" class="action secondary">Configure auto-recharge</a></p>
    <p class="actions"><a href="/client/update_billing" class="action secondary">Update billing information</a></p>
  <% end %>


<% content_for :jquery_extension_javascripts do %>
  <script type='text/javascript' src='/javascripts/jquery.simplemodal.js'></script>
  <script type='text/javascript' src='/javascripts/confirm.js'></script>
  <script>
  var confirmUrl='<%= raw @recurly_per_minute_subscription_url %>';
  </script>
<% end %>
<% content_for :stylesheets do %>
  <link type='text/css' href='/stylesheets/confirm.css' rel='stylesheet' media='screen' />
<% end %>
