<h1>Cancel subscription</h1>
<%= form_tag do %>
<p>Are you sure you want to cancel your subscription?</p>
<button type = "Submit">Yes, cancel</button>
<p class="actions"><a href="/client/billing" class="action secondary">No, take me back</a></p>
<% end -%>