<table>
	<tr>
		<td valign="top">
			<div class="box" style="width:400px;">
				<%= render :partial => 'boxtop', :locals=>{:title=>"Password Recovery"} %>
				<% form_tag("/client/forgot", :id=>"loginForm") do |f| %>
	  
			  <div class="table not">
			    <table  border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td><h3>Email:</h3></td>
			        <td><input type="text" name="email" class="field" value="<%= params[:email] %>" />
			        </td>
			      </tr>
			      <tr>
			        <td>
						<input type="submit" value="Recover" class="button">
						<!--<a href="javascript:$('loginForm').submit();" class="button"><span>Login</span></a>-->
						
					</td>
			        <td></td>
			      </tr>
				</table>
			</div>
			</div>
		</td>
		<% end %>
		<td width="40">&nbsp;</td>
	</tr>
</table>
