<h1>Password recovery</h1>
				<fieldset>

				<%= form_tag("/client/forgot", :id=>"loginForm") do |f| %>
			      <p>
			        <label>Email</label>
					<input type="text" name="email" class="field" value="<%= params[:email] %>" />
			      </p>

				</fieldset>

				<div class="buttons">
				<button type="submit">Recover</button>
				</div>
		<% end %>
