<%= render :template => "monitors/index" %>

<!-- Google Code for Created an account Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1007788130;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "0X3gCJ66lwIQ4sDG4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1007788130/?label=0X3gCJ66lwIQ4sDG4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Adroll conversion code -->
<script type="text/javascript">
adroll_adv_id = "M3ZUEEO45BB33AYWZF3HGK";
adroll_pix_id = "OQY7OZWXAVACFMNWA54Z3N";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<script type="text/javascript">
  adroll_segments = "conversion"
</script>