<div role="main">

<h1>Welcome!</h1>

<p>We've worked hard to make our predictive dialer as easy to use as possible, but we realize there may be a couple things that aren't self-explanatory.</p>

<h3>Web callers</h3>

<p><a href="/caller">Your callers can log in here.</a></p>

<p>In between calls, your callers will be played a droning hold music. When the hold music ends, they are connected to a lead. Usually, the callers will not hear the lead say "hello".</p>

<p>Each caller using the web interface needs their own login. Two people can't log in as the same web caller at the same time.</p>

<p>If you need a local area phone number to call into, contact support.</p>

<h3>Phones-only callers</h3>

<p>You can use Impact Dialing without a computer. You won't know the name of the person you're calling, so this option is generally only suitable for political campaigns.</p>

<p>Phones-only PINs can be shared and used by multiple people at the same time.</p>

<p>When you set up your scripts, the "Phones-only keypad" values refer to the buttons that your callers press on their phones to enter results after each call. Callers can press * to hang up the current call, then enter their results on their keypad and press * again to submit each result. Make a test call; you'll see how it works.</p>

<p>To dial in phones-only, use the PINs displayed for the phones-only caller and the Campaign ID in each campaign. Contact support for a local area call-in number.</p>

<h3>Campaigns</h3>

<p>Caller ID refers to the phone number that your leads see on their Caller ID when the predictive dialer calls them. In many places, you are legally required to display a valid Caller ID for your company or organization, so you should always use a valid Caller ID.</p>

<p>Preview mode calls one person at a time, lets you preview the name of the person you are calling before you dial, and lets you choose to skip the current person. Progressive mode calls one person at a time immediately after you finish your previous call, without giving you the option to skip. Power mode lets you set a ratio of dials to be made for each caller on the system; for example, Power x3 dials 3 lines for every available caller. Predictive mode uses an intelligent controller to optimize the amount of time your callers spend talking to leads.</p>

<p>Abandonment rate is the percentage of answered phone calls that are picked up when no caller is available. Abandoned calls are often regulated by the government to be less than 3% of answered dials. The higher the abandonment rate, the less time your callers will spend waiting between calls.</p>

<p>Recycle rate is the minimum amount of time the dialer will wait between calling the same lead twice.</p>

<h3>Monitor</h3>

<p>Monitoring callers requires <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a> and a high-speed Internet connection (at least 30Kbps download and 20Kbps upload).</p>

<h3>Support</h3>

<p>Hopefully, this is enough information to answer all of your questions. If you need to find your way back here, just click "Help" in the upper right corner. Contact information for support is in the lower right corner of your screen.</p>

</div>

<!-- incompatible with reseller branding - at some point we should add this back in.

<div role="complementary">
	<h1>Support</h1>
	<p>Our standard support hours are Monday through Friday, 9am to 6pm Pacific.</p>
	<div class="box" id="contact"> 
	<p>If we're online, the fastest way to receive support is via the chat widget in the lower right corner of your screen. </p>
	<ul> 
	<li class="contact-email"><a href="mailto:info@impactdialing.com">info@impactdialing.com</a></li> 
	<li class="contact-phone">(415) 347-5723</li> 
	</ul> 

	
	<p>If you need support outside of our standard hours, please call us, and we'll do our best to pick up or return your call quickly.</p>
	<p>For emergency support, please send us a text message.</p>
</div>
-->

</div>
<!-- Google Code for Created an account Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1007788130;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "0X3gCJ66lwIQ4sDG4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1007788130/?label=0X3gCJ66lwIQ4sDG4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Adroll conversion code -->

<script type="text/javascript">
adroll_adv_id = "M3ZUEEO45BB33AYWZF3HGK";
adroll_pix_id = "OQY7OZWXAVACFMNWA54Z3N";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<script type="text/javascript">
  adroll_segments = "conversion"
</script>