<div role="main">

<h1>Welcome!</h1>

<p>Here's how to use our predictive dialer. If you ever get lost and need to find your way back here, just click "Help" in the upper right corner. <a href="/caller">Your callers can log in here.</a></p>

<h2>Callers</h2>

<p>If you&#8217;re running a call center, you may want to give each of your callers a login, so that you can track their performance individually. Or you can use shared logins; for example, a political campaign could give each of its offices a login, and compete to see who can make the most calls.</p>

<h2>Scripts</h2>

<p>This is where you create the script that callers see on their screen, choose what information is displayed when someone picks up, and set up the possible call results.</p> 
 
<h2>Campaigns</h2> 
 
<p>First, set up a couple small things: choose the outgoing caller ID (the number that's displayed when you call somebody), choose your script and dialing mode, and optionally upload a voicemail message. Next, choose which callers have access. Finally, upload the list of phone numbers to call; if you want to add more numbers to the campaign, you can upload another list even while people are calling.</p> 

<h2>Monitor</h2>

<p>While your callers are logged in, you can monitor who is on the system with the Monitor tab. Your callers can log in <a href="/caller">here</a>, or for phones-only, call into the call-in number, and enter their PIN and the Campaign ID. If you'd like a local area code call-in number, contact us and we'll set one up for you.</p>

<h2>Reports</h2>
<p>Here, you can see statistics for each campaign and each caller you've set up, and download the call results.</p> 

</div>

<!-- incompatible with reseller branding - at some point we should add this back in.

<div role="complementary">
	<h1>Support</h1>
	<p>Our standard support hours are Monday through Friday, 9am to 6pm Pacific.</p>
	<div class="box" id="contact"> 
	<p>If we're online, the fastest way to receive support is via the chat widget in the lower right corner of your screen. </p>
	<ul> 
	<li class="contact-email"><a href="mailto:info@impactdialing.com">info@impactdialing.com</a></li> 
	<li class="contact-phone">(415) 347-5723</li> 
	</ul> 

	
	<p>If you need support outside of our standard hours, please call us, and we'll do our best to pick up or return your call quickly.</p>
	<p>For emergency support, please send us a text message.</p>
</div>
-->

</div>
<!-- Google Code for Created an account Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1007788130;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "0X3gCJ66lwIQ4sDG4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1007788130/?label=0X3gCJ66lwIQ4sDG4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Adroll conversion code -->

<script type="text/javascript">
adroll_adv_id = "M3ZUEEO45BB33AYWZF3HGK";
adroll_pix_id = "OQY7OZWXAVACFMNWA54Z3N";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<script type="text/javascript">
  adroll_segments = "conversion"
</script>