<h1>Caller login</h1>

<p>If somebody has given you a caller login, <a href="/caller">log in here</a>.
The forms below are for admins only.</p>

<div role="main">
  <%= render :partial => 'client/users/new' %>
</div>

<div role="complementary">
  <%= render :partial => 'client/sessions/new' %>
</div>
