
<script src="/javascripts/recurly.min.js"></script> 
<link rel="stylesheet" href="/stylesheets/recurly.css" type="text/css" media="all" />

<script>
  Recurly.config({
    subdomain: 'impactdialing'
  , currency: 'USD'
  , country: 'US'
  });

  Recurly.buildSubscriptionForm({
    target: '#recurly-subscribe'
  , planCode: '<%= params[:id] %>'
  , accountCode: 'test'
  , successURL: 'confirmation.html'
  , distinguishContactFromBillingInfo: true
  , collectCompany: true
  , termsOfServiceURL: 'http://www.impactdialing.com/policies/#terms'
  , account: {
      firstName: 'Joe'
    , lastName: 'User'
    , email: 'test@example.net'
    , phone: '555-555-5555'
    , companyName: 'Acme'
    }
  , billingInfo: {
      firstName: 'Joe'
    , lastName: 'User'
    , address1: '123 somestreet'
    , address2: '45'
    , city: 'San Francisco'
    , zip: '94107'
    , state: 'CA'
    , country: 'US'
    , cardNumber: '4111-1111-1111-1111'
    , CVV: '123'
    }
  , signature: 'bc3027a216e3fa51382c3cbdbb24bf7eb7b4bc69-0'
  });
</script>

<div id="recurly-subscribe">
</div>
