
<% content_for :javascripts do %>
	<%= javascript_include_tag "https://js.stripe.com/v1/"%>
  <script type="text/javascript">  	  	
  	Stripe.setPublishableKey("<%= STRIPE_PUBLISHABLE_KEY  %>");  
  </script>
 <% end %>

 <form action="" method="POST" id="payment-form">
 	<fieldset>    
  	<legend>Plan</legend>
  		<p>
  			<label>Select Plan:</label>
  			<select>
  				<option value="Basic">Basic</option>
  				<option value="Pro">Pro</option>
  				<option value="Business">Business</option>
  				<option value="PerMinute">Per Minute</option>
  			</select>
  		</p>
  		<p>
  			<label>Number of Callers:</label>
  			<input type="text"  class="field" style="width:50px">
  	 	</p>
   </fieldset>
  <span class="payment-errors"></span>
  	<fieldset>    
    	<legend>Card Information</legend>
    	<p>
    		<label>Card Number</label>
		  	<input type="text" data-stripe="number"  class="field" style="width:220px;" ></input>
		  </p>
		  <p>
		  	<label>CVC</label>
		  	<input type="text" data-stripe="cvc"  class="field" style="width:40px;"></input>
		  </p>
			<p>
		  	<label>Expiration (MM/YYYY)</label>
		  	<select data-stripe="exp_month">
			  	<option value="01">01 - January</option>
			  	<option value="02">02 - February</option>
			  	<option value="03">03 - March</option>
			  	<option value="04">04 - April</option>
			  	<option value="05">05 - May</option>
			  	<option value="06">06 - June</option>
			  	<option value="07">07 - July</option>
			  	<option value="08">08 - August</option>
			  	<option value="09">09 - September</option>
			  	<option value="10">10 - October</option>
			  	<option value="11">11 - November</option>
			  	<option value="12">12 - December</option>
			  </select>		 
			  <select>
			  	<option value="2013">2013</option>
			  	<option value="2014">2014</option>
			  	<option value="2015">2015</option>
			  	<option value="2016">2016</option>
			  	<option value="2017">2017</option>
			  	<option value="2018">2018</option>
			  	<option value="2019">2019</option>
			  	<option value="2020">2020</option>
			  	<option value="2021">2021</option>
			  	<option value="2022">2022</option>
			  	<option value="2023">2023</option>
			  	<option value="2024">2024</option>
			  	<option value="2025">2025</option>
			  	<option value="2026">2026</option>
			  	<option value="2027">2027</option>
			  	<option value="2028">2028</option>
			  	<option value="2029">2029</option>
			  	<option value="2030">2030</option>  	
		  	</select> 
		  </p>
    	</fieldset>
 <div class="buttons">
 	<button type="submit">Submit Payment</button>
</div>
 
</form>

<% content_for :javascripts do %>
	<script type="text/javascript">
		var stripeResponseHandler = function(status, response) {			
      var $form = $('#payment-form');
 
      if (response.error) {
      	alert(response.error.message)
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
      	alert("success")
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };
		$(function($) {
		  $('#payment-form').submit(function(event) {
		    var $form = $(this);

		    // Disable the submit button to prevent repeated clicks		   
		    $form.find('button').prop('disabled', true);		    
		    Stripe.createToken($form, stripeResponseHandler);		    
		    // Prevent the form from submitting with the default action
		    return false;
		  });
	});
 </script>
<% end %>