<div class="box" >
	<h1><%= @campaign.name %> Caller Report</h1>
	<div class="box-content">
		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
				 <tr>
					<th>Caller ID</th>
			        <th>Login Date</th>
					<th>Logout Time</th>
			      </tr>
				<% @logins.each do |login| %>
					<tr>
						<td><%=  number_to_phone(login.caller_number, :area_code => true)   %></td>
						<td><%= login.tStartTime.strftime("%m/%d/%Y %I:%M%p") if login.tStartTime!=nil %></td>
						<td><%= login.tEndTime.strftime("%m/%d/%Y %I:%M%p") if login.tEndTime!=nil  %></td>
						
				<% end %>
			

		    </table>

		</div>
		
	</div>
</div>



