<h1>Billing</h1>
<div class="content clearfix">

<%= form_tag do %>
  
	<fieldset>
<p>Current number of callers: <%= @user.account.subscription_count %></p>
<p>New number of callers:</p>
              <select name="num_callers">
				<% (1..99).each do |n| %>
					<option value="<%= n %>" <% if @user.account.subscription_count.to_i==n %>selected<% end %> ><%= n %></option>
				<% end %>
			</select>
	</fieldset>
</div>
<div class="buttons">
<button type="submit">Update</button>
<% end -%>

</div>