<p>
  <% if !logged_in_as_client? || @user.administrator? %>
    <% if !white_labeled_billing_link(domain).empty? %>
      <a href="/client/billing">Billing</a><br>
    <% end %>
    <a href="#administrators">Add users</a><br>
    <a href="#caller_password">Set caller report password</a><br>
    <a href="#api_key">Generate API key</a>
  <% end %>
</p>
<%= render :partial => 'join_form' %>
<% unless @user.new_record? %>
  <%= render :template => 'client/accounts/show' %>
  <%= render :partial => 'client/accounts/caller_password' %>
  <%= render :partial => 'client/accounts/api_key' %>
<% end %>
