<div class="box">
  <% form_for(@voter_list, :url=> campaign_voter_lists_path(@campaign), :method => :post, :html => {:multipart => true}) do %>
      <div class="form">
        <p>
          <label>Select list</label>
          <%= file_field 'upload', 'datafile' %>
        </p>
        <span class="fine-print">Files with CSV extension are assumed to be comma separated. .TXT files are supposed to be tab separated</span>
      </div>

      <div class="buttons">
        <input type="reset" class="button" value="Cancel" />
        <input type="submit" class="button" value="Add list"/>
      </div>
  <% end %>
</div>

<%= render :partial => "voter_lists/sidebar" %>