<% content_for :sidebar do %>
    <div class="box">
      <div class="box-head">
        <h2>Upload help</h2>
      </div>
      <div class="box-content">
        Your list must be either a "comma-separated value" spreadsheet (these files usually have the extension .csv) or
        a "tab-separated text" spreadsheet (usually with extension .txt). Any spreadsheet can be saved in one of these
        formats in a spreadsheet editor like Microsoft Excel. In the spreadsheet, the column containing the phone
        numbers must have the header "Phone". The other optional headers that Impact Dialing can process are ID,
        FirstName, MiddleName, LastName, Suffix, Age, Gender, and Email.
      </div>
    </div>

<% end %>
