<p>
  We found the following headers in the file you uploaded. Please map them to the fields below.
</p>

<dl class='table-display'>
  <% @csv_column_headers.each do |csv_header| %>
    <% selected =  matching_system_header_for(csv_header)%>
    <dt><%= csv_header %></dt>
    <dd><%= select_tag "csv_to_system_map[#{csv_header}]", options_for_select(system_column_headers(csv_header, @campaign.account), selected) %></dd>
  <% end %>
</dl>

