<% if @csv_error.present? %>
<div class="callout alert clearfix">
  <p><strong><%= @csv_error %></strong></p>
</div>
<% else %>
  <p>Please map your headers to the appropriate fields below.</p>
  <table>
    <tr>
      <th>Header from your spreadsheet</th>
      <th>Field in the dialer</th>
      <th>Example data</th>
    </tr>
    <% @csv_column_headers.each_with_index do |csv_header, index| %>
      <% selected = matching_system_header_for(csv_header) %>
      <tr>
        <td><%= csv_header %></td>
        <td><%= select_tag "voter_list[csv_to_system_map[#{csv_header}]]", options_for_select(system_column_headers(csv_header, @campaign.account)), class: "select-column-mapping" %></td>
        <td><%= @first_data_row.try(:[], index) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
