<div class="callout alert clearfix" id="browserTestContainer" style="display:none;"><p id="browserTest"></p></div>
<noscript>
	<div class="callout alert clearfix"><p><%= t('javascript_disabled') %></p></div>
</noscript>
<script type="text/javascript">
var warning='';
var client_ready=false;

function flash_supported(){
	return (FlashDetect.major>10 || (FlashDetect.majorAtLeast(10) && FlashDetect.minorAtLeast(1)));
}

function browser_supported(){
	//Google Chrome 11+, Internet Explorer 7+, Safari 5+, and Firefox 3.6+
	var supported=false;
	if (BrowserDetect.browser=="Chrome" && BrowserDetect.version>=11)
		supported=true;
	if (BrowserDetect.browser=="Explorer" && BrowserDetect.version>=7)
		supported=true;
	if (BrowserDetect.browser=="Safari" && BrowserDetect.version>=5)
		supported=true;
	if (BrowserDetect.browser=="Firefox" && BrowserDetect.version>=3.6)
		supported=true;
	if isNativeApp()
		supported=true;

	return supported;
}

if (!FlashDetect.installed){
	warning='<%=  t('flash_missing_html') %>';
}

if (!flash_supported())
	warning='<%=  t('flash_old_html') %>';

if (!browser_supported())
	warning="<%=  t('browser_unsupported').html_safe %>";

if (warning!=''){
	$('#browserTestContainer').show();
	$('#browserTest').html(warning);
}




</script>

