<fieldset>
  <legend>Date range:</legend>
  <input name="campaign_id" type="hidden" value="<%= params[:campaign_id]%>"></input>
  <p>
    <label>From:</label>
    <input class="format-m-d-y divider-slash" id="from_date" name="from_date" type="text" value="<%= time_for_date_picker(@campaign, @from_date) %>">
  </p>
  <p>
    <label>To:</label>
    <input class="format-m-d-y divider-slash" id="from_date" name="to_date" type="text" value="<%= time_for_date_picker(@campaign, @to_date) %>">
  </p>
</fieldset>
