<table>
  <tr>
    <td>From:</td>
    <td> <%= unobtrusive_date_text_picker_tag :from_date, @from_date.to_time.utc %> </td>
  </tr>
  <tr>
    <td>To:</td>
    <td>
      <%= unobtrusive_date_text_picker_tag :to_date, @to_date.to_time.utc %>
    </td>
  </tr>
</table>
