<% if target.errors.any? %>
<div id="errorExplanation">
  <h2><%=target.class.name%> was not saved:</h2>
  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>