<%unless @transfers.blank?%>
  <table>
    <h3>Transfers</h3>
    <tr>
      <th>Transfer</th>
      <th>Number</th>
      <th>Percentage</th>
    </tr>
    <%@transfers.each_pair do |key, value|%>
    <tr>
      <td><%= value[:label]%></td>
      <td><%= value[:number]%></td>
      <td><%= value[:percentage]%> %</td>
    </tr>
    <%end%>
  </table>
<%end%>
