<tr>
  <th>Utilization (1-second increments)</th>
  <th>Minutes</th>
</tr>
<tr>
  <td>Logged in</td>
  <td><%= report.time_logged_in(@from_date, @to_date) %></td>
</tr>
<tr>
  <td>On call</td>
  <td><%= report.time_on_call(@from_date, @to_date) %></td>
</tr>
<tr>
  <td>Wrap up</td>
  <td><%= report.time_in_wrapup(@from_date, @to_date) %></td>
</tr>

<tr>
  <td>On hold</td>
  <td><%= report.time_onhold(@from_date, @to_date) %></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>