<p>The utilization table shows how much time your callers actually spent on the phone.
   Each call is rounded to the nearest second.</p>
<table>
  <tr>
    <th>Utilization</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>On call</td>
    <td><%= usage.time_on_call %></td>
  </tr>
  <tr>
    <td>Wrap up</td>
    <td><%= usage.time_in_wrapup %></td>
  </tr>

  <tr>
    <td>On hold</td>
    <td><%= usage.time_onhold  %></td>
  </tr>
  <tr>
    <td>Connected (total)</td>
    <td><%= usage.time_logged_in %></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
