<tr>
  <th>Utilization</th>
  <th>Minutes</th>
</tr>
<tr>
  <td>Connected</td>
  <td><%= @time_logged_in %></td>
</tr>
<tr>
  <td>On call</td>
  <td><%= @time_on_call %></td>
</tr>
<tr>
  <td>Wrap up</td>
  <td><%= @time_in_wrapup %></td>
</tr>

<tr>
  <td>On hold</td>
  <td><%= @time_onhold  %></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>