<%# cms "new_home_design" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Impact Dialing | The World's Best Predictive Dialer</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/homecss/css/style.css" type="text/css" media="all" />
</head>
<body>
<!--<div id="header">
<div id="header_content">
        <img style="border: 2px solid #ccc;" src="/homecss/css/images/happy-call-center2.png" />
        <div class="tag-line">
            <li class="google"><a href="http://admin.impactdialing.com/client/login"><img src="/homecss/css/images/logo1.png" width="243" height="41" /></a></li>
            <h4>The World's Best Predictive Dialer</h4>
            <li class="impact"><a href="http://admin.impactdialing.com/client/login">Make a Free <br /> Account Now</a></li>
        </div>
       
</div>
<br />
</div>-->
<!-- Container -->
<div id="container">

    <!-- Main -->
    <div id="main"> 
      
      <!-- Content -->
      <div id="content">
      <div id="header_content">
        <img style="border: 2px solid #ccc;" src="/homecss/css/images/happy_tech_support.jpg" />
        <div class="tag-line">
            <a href="http://admin.impactdialing.com/client/login"><img src="/homecss/css/images/impact-logo.png" alt="impact dialing" /><h1 class="seo">Impact Dialing</h1></a>
            <h4>The World's Best Predictive Dialer</h4>
            <li class="impact"><a href="http://admin.impactdialing.com/client/login">Make a Free <br /> Account Now</a></li>
        </div>
       
      </div>


      <div class="text">
         <h1>Impact Dialing is the best predictive dialer ever.</h1>
<div class="home"><img style="display:inline;" src="/homecss/css/images/icons/32px/home.png" width="32" height="32" /><h2>Here's how we did it:</h2></div>


<ul class="text">
<li>A mathematical breakthrough gives you <strong>more talk time</strong> than any other system.</li>
<li>Answering-machine detection so fast <strong>your leads won't know you're on a dialer.</strong></li>
<li><strong>Drop-dead simple</strong> web interface with no software to install.</li>
<li>Self-service: <strong><a href="http://admin.impactdialing.com/client/login">make a free account now to see Impact Dialing for yourself.</a></strong></li>
</ul>
			</div>
         
            <div class="pricing">
            <h1>Choose your pricing:</h1>
<ul class="pricing">
<li>$250/agent/month*</li>
<li> $100/agent/month + 1.8c/min</li>
<li> 13c/min, unlimited agents</li>
</ul>
<div style="clear: all;"></div>
<p><em>No setup fees. No contracts. No minimums.</em></p>
<strong><a class="free" href="http://admin.impactdialing.com/client/login">It's free to create an account. Try it out!</a></strong>
<p class="minutes">*up to 17,000 minutes/month</p>
            </div>
<div style="clear:both"></div>

<div class="tag">
          We're here for you.<br />
          <img src="/homecss/css/images/icons/32px/user.png" width="32" height="32" /><br />
(415) 347-5723 <br />
info@impactdialing.com<br />

			</div>
           
           
        <div class="text_end">
          <div class="bubble"><h1>Want to know more?</h1>
            <img style="display:inline; margin-left: 10px;" src="/homecss/css/images/icons/32px/comment.png" width="32" height="32" />
            </div>
<ul class="text_end">
Impact Dialing triples the number of people you can talk to by eliminating unanswered dials. <br /><strong>Here's how it works:</strong>
<li>Callers dial into Impact Dialing, which then calls out to a list of phone numbers.</li>
<li>By monitoring how many voters actually pick up, we dial multiple lines to ensure that someone will answer almost every call.</li>
<li>Additionally, we track the length of each conversation, so we can deliver a new call shortly after you hang up the previous one. </li>
<li>All you have to do is upload a list of phone numbers on our website. No special equipment is needed.</li>
<li>Political campaigns can even use our platform phones-only, with no computers necessary.</li>
</ul>
        </div>
            <div style="clear:both"></div>
            <h3>Predictive dialing doesn't get any better than this.</h3>
            <div class="try"><img style="display:inline;" src="/homecss/css/images/icons/32px/next.png" width="32" height="32" /><a href="http://admin.impactdialing.com/client/login">Why not try it now?</a></div>
      </div>
      <!-- End Content -->

    <!-- Main -->
  </div>
</div>

<!-- End Container -->
<!-- Footer -->
<div id="footer">
&copy; 2010 Impact Dialing, Inc. | <a href="http://www.impactdialing.com/privacy">Privacy</a>
</div>

<!-- End Footer -->
</body>
</html>