<div class="box" style="width:600px;">
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>"Impact Dialing Terms Of Service"} %>
	<div class="box-content">
		<%= cms "tos" %>
		<br/><br/>	</div>
</div>

