<%= render :partial => "welcome_user"%>

<%= hidden_field(:account, :id) %>

<!-- WPMG ROI Tracking Action Script: VoiceBroadcasting BEGIN -->
<script type="text/javascript">
(function(){var d=document,u=((d.location.protocol==='https:')?'s':'')+'://www.conversionruler.com/bin/js.php?siteid=6359';
d.write(unescape('%3Cscript src=%22http'+u+'%22 type=%22text/javascript%22%3E%3C/script%3E'));}());
</script><script type="text/javascript">
var crtext = document.getElementById('account_id').value;
cr_track('2');
</script><noscript><div style="position: absolute; left: 0"><img
src="https://www.conversionruler.com/bin/tracker.php?siteid=6359&amp;nojs=1&amp;actn=2" alt="" width="1" height="1"
/></div></noscript>
<!-- WPMG ROI Tracking Action Script: VoiceBroadcasting END -->