<button class="btn btn-primary navbar-btn"
        type="button"
        title="Start calling."
        aria-label="Get started"
        data-ng-click="splash.getStarted()">
  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
  <span class="text">Start</span>
</button>
<button class="btn btn-primary navbar-btn"
        type="button"
        title="Log out."
        aria-label="Log out."
        data-ng-click="splash.logout()">
  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  <span class="text">Logout</span>
</button>
