<% if !@campaign.account.recordings.blank? %>
  <div id="sndPreview" style="vertical-align: middle;"></div>
  <%= content_for :javascripts do %>
    <script type="text/javascript">
      function updatePreview() {
        var path = '';
        var recording_id = $("#campaign_recording_id").val();
        <% @account.recordings.each do |recording| %>
          if( recording_id == <%= recording.id %> ) {
            path = '<%= recording.file.url %>';
            name = '<%= escape_javascript recording.name %>';
          }
        <% end %>

        var audioPreview = '<p>Previewing <b>' + name + '</b></p>' +
         '<audio controls>' + '<source src="' + path + '">' + '</audio>';
        $('#sndPreview').html(audioPreview);
      }

      $(function() {
        updatePreview();
        $("#campaign_recording_id").change(updatePreview);
      });
    </script>
  <% end %>
<% end %>
