<div>
<%= form_tag("", method: :post, multipart: true, id: "voter_list_upload") do %>
  <div>
    <fieldset>
      <legend>File &amp; settings</legend>
      <p>
        Please upload a comma-separated value (CSV) or tab-delimited
        text (TXT) file.
      </p>
      <%= hidden_field_tag 'voter_list[separator]' %>
      <p id="upload_datafile_container">
        <label for="upload_datafile">List</label>
        <%= file_field_tag 'upload[datafile]' %>
      </p>
      <p id='list_name'>
        <label for="voter_list_name">List name</label>
          <%= text_field_tag "name", nil, :id => "voter_list_name", name: "voter_list[name]", :size => '10'  %>
      </p>
      <ul id="list_upload_options">
        <li id="voter_list_purpose_add_container">
          <label for="voter_list_purpose_add">
            <input type="radio" name="voter_list[purpose]" id="voter_list_purpose_add" value="import" checked="checked">
            Add leads, or update leads based on ID
          </label>
        </li>
        <li class="js_list_upload_add_option" id="voter_list_skip_wireless_container">
          <label for="voter_list_skip_wireless">
            <input type="hidden" name="voter_list[skip_wireless]" value="0">
            <input type="checkbox" name="voter_list[skip_wireless]" id="voter_list_skip_wireless" checked="checked" value="1"> Do not call cell phones
          </label>
        </li>
        <li id="voter_list_purpose_remove_numbers_container">
          <label for="voter_list_purpose_remove_numbers">
            <input type="radio" name="voter_list[purpose]" id="voter_list_purpose_remove_numbers" value="prune_numbers"> Remove phone numbers from call list
          </label>
        </li>
        <% if voter_list_count > 0 and campaign.can_use_custom_ids? %>
        <li id="voter_list_purpose_remove_leads_container">
          <label for="voter_list_purpose_remove_leads">
            <input type="radio" name="voter_list[purpose]" id="voter_list_purpose_remove_leads" value="prune_leads"> Remove leads from call list
          </label>
        </li>
        <% end %>
      </ul>
    </fieldset>
    <fieldset id="column_mapping_container" style="display: none;">
      <legend>Mapping</legend>
      <div id="column_headers"></div>
    </fieldset>
  </div>
  <div id= "voter_upload" class="buttons" style="display:none">
    <button id="file_upload_submit">Upload</button>
  </div>
<% end %>
</div>
