<fieldset>
  <%= form_for(@voter_list, :url=> "", :method => :post, :html => {:multipart => true}) do %>
  <p>Please upload a comma-separated value (CSV) or tab-delimited text (TXT) file. If your list is in Excel format (XLS or XLSX), use "Save As" to change it to one of these formats.</p>
    <div class="form">
      <%= file_field 'upload', 'datafile' %>
    </div>
  <div class="buttons">
    <button id="file_upload_submit">Save &#38; upload</button>
  </div>

</fieldset>  
  <% end %>