<% content_for :stylesheets do %>
    <link rel="stylesheet" type="text/css" media="screen" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css"/>
    <%= stylesheet_link_tag 'jquery.ui.datetime' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag("https://d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js") %>
    <%= javascript_include_tag 'orderable', 'ICanHaz.min.js', 'jquery.form.js', 'flash_detect_min.js' , 'browser_detect.js','date.js',"underscore-min", "mustache", 'backbone', 'impactdialing',"models/caller_script.js", "views/caller_script.js" %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
        var caller_script = new ImpactDialing.Models.CallerScript();
        var script_view  = new ImpactDialing.Views.CallerScript({model: caller_script});
        caller_script.fetch({success: function(){
          $("#voter_responses").html(script_view.render());
        }});

      });
  </script>
<% end %>
<form id="voter_responses" method="post">

</form>
<script type="javascript/template" id="caller-campaign-script-text-template">
  <fieldset class="script_element">
    {{content}}
  </fieldset>
</script>

<script type="javascript/template" id="caller-campaign-script-question-template">
  <fieldset class="script_element">
    <p>
      <label>{{text}}</label><br/>
    </p>
  </fieldset>
</script>

<script type="javascript/template" id="caller-campaign-script-notes-template">
  <fieldset class="script_element">
    <p><label>{{text}}</label><br/>
      <input type="text" id="note_response_{{id}}" name="notes[{{id}}]" class="note_text"/>
    </p>
  </fieldset>
</script>
</form>
