<h2>Callers</h2>
<div class="box">
  <div class="table">
    <table>
      <tr class="table_header">
        <th>Caller</th>
				<th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @callers_result.each do |caller_result| %>
        <%= render :partial => 'caller' , locals: { caller_result: caller_result} %>      
      <% end %>
    </table>
    <a class ="action primary stop_monitor" href="#" style="display:none">Stop monitoring</a>
    <status style="float : right;"></status>
  </div>
</div>