<% content_for :javascripts do %>
<script type="text/javascript" src="https://static.twilio.com/libs/twiliojs/1.0/twilio.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<% end %>

<h1>Monitor</h1>

<% if @campaigns.empty? %>
    <p>You haven't created any campaigns yet.</p>
<% else %>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <% @active_campaigns.each do |c| %>
          <tr>
            <td><%= link_to c.name, monitor_path(c) %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<br>

<br>

<p>Call recording is currently <%= @account.record_calls? ? "on" : "off" %>. Links to recordings will appear in each campaign's Download report.</p>
<p class="actions"><%= link_to "Turn call recording #{@account.record_calls? ? "off" : "on" }", {:action=>"toggle_call_recording"}, {:class => 'action secondary'} %></p>

