<div class="col-xs-12">
  <div class="veil" ng-show="survey.saving"></div>
  <form role="form">
    <div class="well" data-ng-repeat="item in survey.form">
      <pre data-ng-if="item.type == 'scriptText'">{{item.content}}</pre>

      <label data-ng-if="item.type != 'scriptText'"
             for="item_{{item.id}}">{{item.content}}</label>

      <input id="item_{{item.id}}" class="form-control"
             data-ng-if="item.type == 'note'"
             data-ng-model="survey.responses.notes[item.id]">

      <select id="item_{{item.id}}" class="form-control"
              data-ng-if="item.type == 'question'"
              data-ng-model="survey.responses.question[item.id]">
        <option data-ng-repeat="response in item.possibleResponses"
                value="{{response.id}}">{{response.value}}</option>
      </select>
    </div>
    <div class="btn-group"
         data-ng-hide="survey.hideButtons">
      <button class="btn btn-primary"
              data-ng-click="survey.save($event, false); survey.saving = true"
              data-ng-disabled="survey.saving">
              Save &amp; stop calling
      </button>
      <button class="btn btn-primary"
              data-ng-click="survey.save($event, true); survey.saving = true;"
              data-ng-disabled="survey.saving">
              Save &amp; continue
      </button>
    </div>
  </form>
</div>
