<table>
  <tr>
    <th>Account-wide reports</th>
  </tr>
  <tr>
    <td>
      <a href="<%= client_account_usage_path(report_type: 'campaigns') %>"
         data-intro="Here, you can view the total usage for each campaign." data-step="8">
        Usage by campaign
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="<%= client_account_usage_path(report_type: 'callers') %>"
         data-intro="And finally, you can view the total usage for each caller." data-step="9">
        Usage by caller
      </a>
    </td>
  </tr>
</table>
