<table>
  <tr>
    <th>Account-wide reports</th>
  </tr>
  <tr>
    <td><a href="<%= account_campaigns_usage_client_reports_path(:id => @account.id) %>">Usage by campaign</a></td>
  </tr>
  <tr>
    <td><a href="<%= account_callers_usage_client_reports_path(:id => @account.id) %>">Usage by caller</a></td>
  </tr>
</table>
