<h2>Per dial</h2>
<p>The data in the per dial table includes every status for each lead.</p>

<table>
  <tr>
    <th>Status</th>
    <th>Dials</th>
    <th>Percentage</th>
  </tr>			
  <%= render partial: 'dial_table', locals: {dials: dials_report.attempts_grouped_by_status_filtered, total_dials: dials_report.total_dials_made_attempts }%>		      
</table>
      
