<div role="main">
	<h1><%= @campaign.name %> Dials</h1>

  <%= render partial: 'summary_dial', locals: { dials_report: @dials_report} %>
  <%= render partial: 'leads_dial', locals: { dials_report: @dials_report} %>		      

  
    

</div>