<div class="box">
  <%= render :partial => 'shared/boxtop', :locals=>{:title=>"Report #{@campaign.name} Download"} %>

  <% form_tag(download_client_campaign_reports_path(@campaign,:format => 'csv'), :method => "GET") do %>
      <table>
        <tr>
          <td>From:</td>
          <td> <%= unobtrusive_date_text_picker_tag :from_date, @from_date %> </td>
        </tr>
        <tr>
          <td>
            To:
          </td>
          <td>  <%= unobtrusive_date_text_picker_tag :to_date, @to_date %>
          </td>
        </tr>
      </table>
      <div class="buttons"><button type="submit">Download</button></div>
  <% end %>
</div>