<h1>Reports</h1>
<% if @account.campaigns.length==0 %>
    <p>You haven't created any campaigns yet.</p>
<% else %>
  <%= render :partial => 'campaign_reports' %>
  <br/>
  <%= render :partial => 'caller_reports' %>
<% end %>
