<h1>Reports</h1>
<% if @account.campaigns.empty? %>
   <p>You haven't created any campaigns yet.</p>
<% else %>
  <%= render 'campaign_reports' %>
<% end %>

<% if @account.callers.empty? %>
  <p>You haven't created any callers yet.</p>
<% else %>
  <%= render 'caller_reports' %>
<% end %>

<% if @account.callers.any? && @account.campaigns.any? %>
  <%= render 'account_reports' %>
<% end %>
