<%= form_for @caller, url: "#{client_callers_path}/#{@caller.id}" do |f| -%>
  <fieldset>
  <legend>Settings</legend>
  <% if @caller.is_phones_only? %>
    <%= render :partial => 'phones_only_caller', :locals => {:f => f} %>
  <% else %>
    <%= render :partial => 'web_ui_caller', :locals => {:f => f} %>
  <% end %>
  <p>
    <label>Campaign</label>
    <%= f.select("campaign_id", @campaigns.try(:collect){|c| [ c.name, c.id ]}) %>
  </p>
  </fieldset>
  <div class="buttons">
    <button type="submit">Save</button>
  </div>
<% end %>
