<p data-intro="Create a username for your callers." data-step="1">
  <label for="username">Username (no spaces)</label>
  <%= f.text_field :username, {:class=>"field", :id=>'username'} %>
</p>
<p data-intro="Choose a secure password for your callers." data-step="2">
  <label for="password">Password</label>
  <%= f.text_field :password, {:class=>"field", :id=>'password'} %>
</p>
