<p data-intro="Callers log in with an email address. If your callers don't have emails, you can use fake addresses here - they aren't verified." data-step="1">
  <label>Email</label>
  <%= f.text_field :email, {:class=>"field"} %>
</p>
<p data-intro="Choose a secure password for your callers." data-step="2">
  <label>Password</label>
  <%= f.text_field :password, {:class=>"field"} %>
</p>
