<%= error_messages_for :caller %>
<h1>Edit caller</h1>
<%= form_for @caller, url: "#{client_callers_path}/#{@caller.id}", :method => :put do |f| -%>
    <% if @caller.is_phones_only? %>
        <%= render :partial => 'new_phones_only_caller', :locals => {:f => f} %>
    <% else %>
        <%= render :partial => 'new_web_ui_caller', :locals => {:f => f} %>
    <% end %>
    <div class="buttons">
      <button type="submit">Save</button>
    </div>
<% end -%>


