<%= @breadcrumb = "Campaigns" %>

<h1>Campaigns</h1>
<div id="running_list">
  <%= render :partial => 'control_list', :locals => {:campaigns => @campaigns} %>
</div>
<script type='text/javascript'>
    Event.observe(window, 'load', function() {
        setInterval(refreshCampaignStatus, 10*1000);
    });

    function refreshCampaignStatus() {
        new Ajax.Updater('running_list', "<%= running_status_campaigns_path %>", {method: 'get'});
    }

</script>