* { padding:0; margin:0; outline:0; }
body {background-color:#F7F7F7; font-family: helvetica, arial, sans-serif; font-size:12px; line-height:20px; color:#666; }

#container { background-color:#6D6D6D; padding: 20px 0; }
#main { margin: 0 auto; width: 960px; }
#content { background-color: #fff; padding: 20px; width: 920px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius: 5px; box-shadow: 5px 5px 10px #666; -webkit-box-shadow: 5px 5px 10px #666; -moz-box-shadow: 5px 5px 10px #666; /* background-image:url(images/960grid.png); */ }

a img { border:0; }
a { color:#000; text-decoration: underline; cursor:pointer; }
a:hover { color:#000; text-decoration: none;}

h1 { margin-bottom: 10px; }
h1.subtitle { color: #666; font-size: 18px; font-weight: normal; text-align:center; }
h1.subtitle a { color:#fff; text-decoration: none; }
h1.subtitle a:hover { color:#fff; text-decoration: underline; }
h2 { display: inline; font-size:20px; margin-bottom: 15px; line-height:24px; color:#3e71dd; font-weight: normal; }
h3 { color: #000; margin: 10px 0 20px; text-align: center; }

.table { display: block; }
.header_left { display: inline-block; width: 503px; }
.header_right { display: inline-block; width: 397px; text-align: center; vertical-align: 3.5em; }

.account_button { background: url(images/button_bg.png) no-repeat; height: 42px; margin: auto; padding: 10px 0px 0px; width: 176px; }
.account_button a { color: #747474; font-size: 14px; font-weight: bold; line-height: 18px; margin: 10px 0px 0px; text-decoration: none; }

.subtitle-group { display: block; }
.icon { display: inline-block; }
.subtitle-text { color: #2C2C2C; display: inline-block; font-size:14px; font-weight: normal; margin: 10px 0 0 10px; vertical-align: 50%; }

.middle_left { display: inline-block; width: 503px; }
.middle_right { display: inline-block; width: 397px; text-align: center; }

ul.bullets  { margin-left: 40px; }
ul.bullets li { margin-bottom: 4px; }

ul.pricing { font-size: 16px; text-align:center; text-align:left; }
ul.pricing li { list-style-type: none; margin: 5px 0px 5px 140px; }

.no_contracts { font-size: 15px; font-style:italic; text-align: center; line-height:32px; }
.free_account { color: #666; font-size: 16px; font-weight: strong; line-height:32px; }

.break { line-height:32px; }

.lower_left { display: inline-block; width: 400px; text-align: center; vertical-align: 5em; }
.lower_right { display: inline-block; width: 500px; text-align: left; }

.contact { color: black; font-size: 24px; line-height: 32px; text-align: center; }

.the_best { color: #000; font-size: 15px; line-height: 48px; font-weight: bold; text-align: center; }

.try_it { color: black; font-weight: bold; text-align: center; text-decoration: none; }
.try_it a{ vertical-align: 50%; }

#footer { width:100%; height:60px; letter-spacing: 1px; line-height:44px; background:-webkit-gradient(linear, left top, left bottom, from(#447aec), to(#1e3c7f)); background:-moz-linear-gradient(top, #447aec, #1e3c7f); background:linear-gradient(top, #447aec, #1e3c7f); color:#ccc; text-align: center; }
#footer a { color:#ccc; letter-spacing: 1px;text-decoration: none; }