<h3>Call usage (in minutes)</h3>
<p>Minutes used is updated every 10 minutes, so if the numbers seem off, wait a bit and refresh the page.</p>
<dl>
  <dt>Number of calls</dt>
  <dd><%= @campaign.call_attempts.size %></dd>

  <dt>Minutes used</dt>
  <dd><%= @minutes%></dd>
</dl>