<% flash[:notice] = [flash[:notice]].flatten! %>
<% flash[:error] = [flash[:error]].flatten! %>
<% flash[:warning] = [flash[:warning]].flatten! %>
<% if flash[:notice] and display.include? :notice %>
    <% flash[:notice].reverse.each do |message| %>
        <div class="msg msg-ok">
          <p><strong><%= message %></strong></p>
        </div>
    <% end %>
<% end %>

<% if flash[:warning] and display.include? :warning %>
    <% flash[:warning].reverse.each do |message| %>
        <div class="msg msg-error">
          <p><strong><%= message %></strong></p>
        </div>
    <% end %>
<% end %>

<% if flash[:error] and display.include? :error %>
    <% flash[:error].reverse.each do |message| %>
        <div class="msg msg-error">
          <p><strong><%= message %></strong></p>
        </div>
    <% end %>
<% end %>
