<p>
  <ul class="clearfix">
    <li class='divider'>&#169; <%= Date.today.year %></li>
    <li class='divider'>
      <%= link_to "Privacy", "#{policies_client_tos_path}#privacy" %>
    </li>
    <li class="divider">
      <%= link_to "Terms", "#{policies_client_tos_path}#terms" %>
    </li>
    <li>
      <a href="https://impactdialing.freshdesk.com/support/solutions/folders/1000049875" target="_blank">
        Instructions &amp; Troubleshooting
      </a>
    </li>
  </ul>
</p>
