<p>
<ul class="clearfix">
  <li class='divider'>&#169; 2013</li>
  <li class='divider'>
    <%= link_to "Privacy", "#{client_policies_path}#privacy" %>
  </li>
  <li>
    <%= link_to "Terms", "#{client_policies_path}#terms" %>
  </li>
</ul>
</p>
