<p>
<ul class="clearfix">
  <li class='divider'>&#169; <%= Date.today.year %></li>
  <li class='divider'>
    <%= link_to "Privacy", "#{policies_client_tos_path}#privacy" %>
  </li>
  <li>
    <%= link_to "Terms", "#{policies_client_tos_path}#terms" %>
  </li>
</ul>
</p>
