<!DOCTYPE html>
  <head>
    <style type="text/css">
      body {
        color: rgb(102,102,102);
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-size: 100%;
        font-style: normal;
        font-variant: normal;
        font-weight: 200;
        line-height: 1.4;
      }
      th {
        margin-left: 0;
      }
      tr:nth-child(odd) th, tr:nth-child(odd) td {
        background-color: rgb(238,238,238);
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>